.containers{
    padding: 0px 110px;
}
.main-container{
    padding: 0px 60px;
}
.brand img {
    height: 70px;
    margin-top: 75px;
}
.brand {
    text-align: end;
}
.main {
    height: 100%;
    left: 0;
    position: absolute;
    top: 275px;
    width: 100%;
    z-index: 10;
}
.heading{
    display: block;
    font-family: custom-gt-america-expanded,sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 10px;
    line-height: 12px;
    opacity: .6;
    position: relative;
    text-transform: uppercase;
    padding: 23px 0 40px;
    position: relative;
}
.heading::before {
    content: " ";
    left: -40px;
    top: 0;
    width: 40px;
    height: 1.5px;
    background-color: #fff;
    position: absolute;
}
.banner-title{
    font-size:35px;
    letter-spacing: 2px;
    margin: 0 0 25px;
}
.left-content p{
    font-family:sans-serif;
    color: #d8d8d8;
    font-size:25px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height:32px;
    margin-bottom: 40px;
}
.product-intro-title {
    font-size: 32px;
    color: #fff;
    font-family: custom-juana,serif;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 23px;
    margin: 0 0 15px;
}
.section-title p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .75px;
    line-height:30px;
    margin-bottom: 14px;
}
.section-title a{
    font-size:11px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 11px;
    text-transform: uppercase;
    transition: background-color .25s ease-in-out;
    cursor: pointer;
    display: inline-block;
    padding: 11px 0;
    text-align: center;
    text-decoration: none;
    position: relative;
}
.section-title a:hover{
    color: #fff;
}
.section-title a::after{
    content: " ";
    width: 100%;
    background-color: #fff;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.section-title{
    padding-bottom: 50px;
}
.product-finish-title{
    display: block;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 10px;
    opacity: .6;
    position: relative;
    text-transform: uppercase;
    padding: 40px 0 20px;
}
.finish-label{
    font-size: 14px;
    color: #b1b1b3;
    font-style: italic;
    font-weight: 200;
    line-height: 16px;
    margin-top: 10px;
    text-transform: capitalize;
}
section{
    padding-top: 130px;
}
.product-details{
    color: #9c9c9c;
    font-size: 12px;
    line-height:17px;
    margin-top: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product-name {
    font-size: 13px;
    color: #fff;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.6px;
    
}
.product{
    margin: 0 0 50px;
}
.product-titles{
    font-size:23px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    line-height:25px;
    padding: 0 20px;
    margin: 0 0 20px;
}
.finish-title{
    padding: 0 0 20px;
}
.finish{
    text-align: center;
}
.finish img{
    width: 80%;
}

/* .distinction-img {
    position: relative;
}
.distinction-content{
    position: absolute;
    bottom: 0;
    left: 0;
}
.distinction-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.658));
    z-index: 9999;
} */